
Chess Game/.vs/Chess/FileContentIndex/757c485c-4d57-4614-ab69-ddcb7f89c18e.vsidx

Chess Game/.vs/Chess/FileContentIndex/read.lock

Chess Game/.vs/Chess/v17/.suo

Chess Game/.vs/Chess/v17/Browse.VC.db

Chess Game/.vs/Chess/v17/fileList.bin

Chess Game/.vs/Chess/v17/ipch/AutoPCH/1d77ec79c46acc63/CHESS.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/8c61fcb5bed58c5e/MAIN.ipch

Chess Game/Chess.sln

Chess Game/Chess/Chess.qrc

Chess Game/Chess/Chess.ui

Chess Game/Chess/Chess.vcxproj

Chess Game/Chess/Chess.vcxproj.filters

Chess Game/Chess/Chess.vcxproj.user

Chess Game/Chess/x64/Debug/Chess.exe.recipe

Chess Game/Chess/x64/Debug/Chess.log

Chess Game/Chess/x64/Debug/Chess.obj

Chess Game/Chess/x64/Debug/Chess.tlog/Chess.lastbuildstate

Chess Game/Chess/x64/Debug/Chess.tlog/Chess.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.command.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.read.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.write.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.command.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.read.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.write.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/moc.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/moc.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/rcc.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/rcc.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/uic.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/uic.write.1u.tlog

Chess Game/Chess/x64/Debug/main.obj

Chess Game/Chess/x64/Debug/moc_Chess.obj

Chess Game/Chess/x64/Debug/moc/moc_Chess.cpp

Chess Game/Chess/x64/Debug/qmake/qtvars_x64_Debug.props

Chess Game/Chess/x64/Debug/qmake/temp/.qmake.stash

Chess Game/Chess/x64/Debug/qmake/temp/6B5DD376-9F77-49B2-9088-F0EA3488B536.Chess.designtime.idx

Chess Game/Chess/x64/Debug/qmake/temp/moc_predefs.h.cbt

Chess Game/Chess/x64/Debug/qmake/temp/props.txt

Chess Game/Chess/x64/Debug/qmake/temp/qtvars_x64_Debug.props

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.log

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.pro

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.vcxproj

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.vcxproj.filters

Chess Game/Chess/x64/Debug/qrc_Chess.obj

Chess Game/Chess/x64/Debug/qt_work.log

Chess Game/Chess/x64/Debug/qt.natvis

Chess Game/Chess/x64/Debug/rcc/qrc_Chess.cpp

Chess Game/Chess/x64/Debug/uic/ui_Chess.h

Chess Game/Chess/x64/Debug/vc143.pdb

Chess Game/x64/Debug/Chess.exe

Chess Game/x64/Debug/Chess.ilk

Chess Game/x64/Debug/Chess.pdb

Chess Game/.vs/Chess/FileContentIndex/34b797e5-af43-43ac-befe-32f0397ba9fc.vsidx

Chess Game/.vs/Chess/FileContentIndex/5e345e3e-d132-4e10-8c8e-6004216a4b5b.vsidx

Chess Game/.vs/Chess/FileContentIndex/99721c7e-a7a8-4c8b-bec5-cbdd02a2199b.vsidx

Chess Game/.vs/Chess/FileContentIndex/f0707bf9-e9f5-4272-a2ec-b787ac1f53f0.vsidx

Chess Game/.vs/Chess/v17/Browse.VC.db-shm

Chess Game/.vs/Chess/v17/Browse.VC.db-wal

Chess Game/.vs/Chess/v17/Browse.VC.opendb

Chess Game/.vs/Chess/v17/ipch/AutoPCH/2b028f9698835c88/MAIN.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/6dd81591012b6019/CHESS.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/75485b2296b54298/CHESSGRID.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/7d500a974a4798a1/CHESSGRID.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/acf76fddaedaf435/CHESSCASE.ipch

Chess Game/Chess/x64/Debug/ChaseCase.obj

Chess Game/Chess/x64/Debug/ChessCase.obj

Chess Game/Chess/x64/Debug/ChessGrid.obj

*.vsidx

Chess Game/.vs/Chess/v17/ipch/AutoPCH/8f364a5d75f93fd6/PIECE.ipch

Chess Game/Chess/x64/Debug/Piece.obj

*.ipch

Chess Game/Chess/x64/Debug/Game.obj

Chess Game/Chess/x64/Debug/moc/moc_ChessCase.cpp

Chess Game/Chess/x64/Debug/moc_ChessCase.obj

Chess Game/Chess/x64/Debug/Controler.obj

Chess Game/Chess/x64/Debug/Controller.obj
