
Chess Game/.vs/Chess/FileContentIndex/757c485c-4d57-4614-ab69-ddcb7f89c18e.vsidx

Chess Game/.vs/Chess/FileContentIndex/read.lock

Chess Game/.vs/Chess/v17/.suo

Chess Game/.vs/Chess/v17/Browse.VC.db

Chess Game/.vs/Chess/v17/fileList.bin

Chess Game/.vs/Chess/v17/ipch/AutoPCH/1d77ec79c46acc63/CHESS.ipch

Chess Game/.vs/Chess/v17/ipch/AutoPCH/8c61fcb5bed58c5e/MAIN.ipch

Chess Game/Chess.sln

Chess Game/Chess/Chess.qrc

Chess Game/Chess/Chess.ui

Chess Game/Chess/Chess.vcxproj

Chess Game/Chess/Chess.vcxproj.filters

Chess Game/Chess/Chess.vcxproj.user

Chess Game/Chess/x64/Debug/Chess.exe.recipe

Chess Game/Chess/x64/Debug/Chess.log

Chess Game/Chess/x64/Debug/Chess.obj

Chess Game/Chess/x64/Debug/Chess.tlog/Chess.lastbuildstate

Chess Game/Chess/x64/Debug/Chess.tlog/Chess.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.command.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.read.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/CL.write.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.command.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.read.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/link.write.1.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/moc.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/moc.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/rcc.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/rcc.write.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/uic.read.1u.tlog

Chess Game/Chess/x64/Debug/Chess.tlog/uic.write.1u.tlog

Chess Game/Chess/x64/Debug/main.obj

Chess Game/Chess/x64/Debug/moc_Chess.obj

Chess Game/Chess/x64/Debug/moc/moc_Chess.cpp

Chess Game/Chess/x64/Debug/qmake/qtvars_x64_Debug.props

Chess Game/Chess/x64/Debug/qmake/temp/.qmake.stash

Chess Game/Chess/x64/Debug/qmake/temp/6B5DD376-9F77-49B2-9088-F0EA3488B536.Chess.designtime.idx

Chess Game/Chess/x64/Debug/qmake/temp/moc_predefs.h.cbt

Chess Game/Chess/x64/Debug/qmake/temp/props.txt

Chess Game/Chess/x64/Debug/qmake/temp/qtvars_x64_Debug.props

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.log

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.pro

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.vcxproj

Chess Game/Chess/x64/Debug/qmake/temp/qtvars.vcxproj.filters

Chess Game/Chess/x64/Debug/qrc_Chess.obj

Chess Game/Chess/x64/Debug/qt_work.log

Chess Game/Chess/x64/Debug/qt.natvis

Chess Game/Chess/x64/Debug/rcc/qrc_Chess.cpp

Chess Game/Chess/x64/Debug/uic/ui_Chess.h

Chess Game/Chess/x64/Debug/vc143.pdb

Chess Game/x64/Debug/Chess.exe

Chess Game/x64/Debug/Chess.ilk

Chess Game/x64/Debug/Chess.pdb
